/* Import the custom font */
@font-face {
    font-family: 'Lucidity Psych';
    src: url('assets/FontsFree-Net-lucidity-psych.ttf') format('truetype');
}

body {
    font-family: 'Lucidity Psych', Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
    font-family: 'Lucidity Psych', Arial, sans-serif; /* Ensure font-family is applied here */
}

nav a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    margin: 20px 0;
}

.post {
    text-align: left;
}

.post h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Lucidity Psych', Arial, sans-serif; /* Ensure font-family is applied here */
}

.post p {
    font-size: 1em;
    color: #555;
}

.content {
    margin-top: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content p {
    margin: 5px 0;
}
