/* Import the custom font */
@font-face {
    font-family: 'Lucidity Psych';
    src: url('assets/Lucidity-PsychOutline.ttf') format('truetype');
}

body {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: left;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    font-family: 'Lucidity Psych', Arial, sans-serif; /* Ensure title uses Lucidity Psych */
    text-transform: uppercase;
    letter-spacing: 0.3em; /* Increase letter spacing */
}

nav a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    margin: 20px 0;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Left-align the text */
    margin: 0 auto;
    width: 100%;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    font-size: 0.9em;
    color: #555;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: left; /* Left-align the text in the content */
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content p {
    margin: 5px 0;
}
