/* Import the custom font */
@font-face {
    font-family: 'Nagbuloe Outline Bold Italic';
    src: url('assets/Nagbuloe Outline Bold Italic.ttf') format('truetype');
}

body {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 33.33%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

header {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    font-family: 'Nagbuloe Outline Bold Italic', Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.3em; /* Increase letter spacing */
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    margin: 20px 0;
}

.post {
    margin: 0 auto;
    width: 100%;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    font-size: 0.9em;
    color: #555;
}

.content {
    margin-top: 20px;
    text-align: left; /* Left-align the text in the content */
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content p {
    margin: 5px 0;
}
